<div class="d-flex flex-column flex-lg-row gap-10 gap-lg-20 p-10 bg-white overflow-hidden mx-lg-10 rounded-3" >
  <div class="w-100 w-lg-75" >
    <div>
        <h1 class="text-gray-600 fs-6 fw-normal" >Upload orders by importing a file.</h1>
    </div>

    <div class="mt-lg-5 d-none d-lg-block fv-row mb-8" data-controller="upload">
      <div class="p-10 border-dashed border-gray-300 border-hover-primary bg-hover-primary-light bg-gray-100 dropzone h-200px" id="kt_modal_create_project_settings_logo">
        <div class="needsclick">
          <div class="d-flex justify-content-center align-items-center gap-5">
            <%= image_tag 'csv.svg', width: 50, height: 50 %>
            <%= image_tag 'xlsx.svg', width: 50, height: 50 %>
          </div>
          <div class="ms-4">
            <div>
              <form action="/index1" accept-charset="UTF-8" method="post">
                <input type="file" name="authenticity_token" onchange="showBar()" accept=".csv" , id = "csv-file-input", direct_upload: true >
              </form>
            </div>
            <p class="mt-4 fw-semibold fs-4 text-gray-600 fs-6">CSV</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 d-lg-none" >
        <p class="fs-6 text-gray-600" >Upload your file CSV</p>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-3 mt-10" >
      <a href="#" class="btn btn-light me-2" id="kt_user_follow_button">
        <span class="indicator-label">Cancel</span>
      </a>
      <%= button_to "/dashboard/index1", method: "get", class: "btn fs-4 bg-primary text-white bg-hover-secondary", disabled: true, id: 'continue-btn' do %>
        Continue
      <% end %>
    </div>
  </div>
  <div class="w-100 h-500px w-50 rounded-3" >
    <div class="d-flex flex-column flex-lg-row gap-10 mt-8" >

      <div class="w-100 h-100">
        <div>
          <div>
            <h1 id="heading1" class="text-secondary fw-bold my-1 fs-6"></h1>
            <p id="para1-1" class="demo-content text-justify text-gray-600 fs-6 fw-normal mt-3"></p>
            <p id="para1-2" class="demo-content text-justify text-gray-600 fs-6 fw-normal mt-3"></p>
          </div>
          <div>
            <h1 id="heading2" class="text-secondary fw-bold my-1 fs-6"></h1>
            <p id="para2-1" class="demo-content text-justify text-gray-600 fs-6 fw-normal mt-3"></p>
            <p id="para2-2" class="demo-content text-justify text-gray-600 fs-6 fw-normal mt-3"></p>
            <p id="para2-3" class="demo-content text-justify text-gray-600 fs-6 fw-normal mt-3"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
